.header {
  position: relative;
  padding: 0.7rem 1.6rem 0.8rem 1.4rem;

  background-color: #0067a3;
  .container {
    margin: 0 auto;
    max-width: 126.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.title {
  font-size: 2.8rem;
  color: #ffffff;
}

.menu {
  &__list {
    display: none;
    position: absolute;
    top: 6.1rem;
    right: 0.9rem;
    width: 13.4rem;
    height: 6rem;
    padding: 0.8rem 0.7rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 0 1rem #b5b8c0;

    &_active {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      top: -0.6rem;
      right: 4.6rem;
      border-left: 0.6rem solid transparent;
      border-right: 0.6rem solid transparent;
      border-bottom: 0.6rem solid #ffffff;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 0.3rem;
  }

  &__link {
    font-size: 1.4rem;
    transition: all 0.5s ease;

    &:hover {
      text-decoration: underline;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__user {
    max-width: 4rem;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.2rem;
  }
}

@media (max-width: 480px) {
  .header {
    background-color: #0079bf;

    .container {
      justify-content: flex-end;
    }
  }
  .title {
    display: none;
  }
}
